body{
  background-color: YellowGreen;
}
header{
  background-color: white;
}

h2 {
  font-stlye: bold;
  font-family: "Sofia", sans-serif;
  font-size: 30px;
  color: white;
  text-shadow: 3px 3px 3px Black;
}
h3{
  font-size: 20px;
  color: white;
  font-style: bold;
  font-family: "Sofia", sans-serif;
  text-shadow: 3px 3px 3px Black;
}
aside {
  border: 1px sold Black;
  width: 30%;
  padding-left: 0px;
  margin-left: 0px;
  padding-right: 20px;
  margin-right: 20px;
  float: left;
}
#Rover {
  width: 30%;
  height: auto;
}
#avatar{
  width: 90%;
  Height: auto;
  border-radius: 50%;
  border: 5px solid yellowgreen;
}
#GoldStar{
  width: 15%;
  Height: auto;
  border-radius: 80%;
}
#profile{
  background-color: white;
   padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2%;
}
#Rates{
  font-size: 20px;
  font-family: "Sofia", sans-serif;
}
p3{
  font-family: "Sofia", sans-serif;
  font-size: 50px;
  font-style: bold;
  font-weight: bold;
  color: YellowGreen;
  text-shadow: 3px 3px 3px Black;
}
#ReferenceTable {
  Border: 1px solid Gray;
}
#ReferenceTable th{
  font-family: "Sofia", sans-serif;
  font-style: bold;
  font-size: 25px;
   padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  background-color: white;
  color: Black;
}
#ReferenceTable td {
    padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}
#ratings {
  background-color: white;
}
#fivestars {
  Width: 30%;
  height: auto;
}
#Cleo {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
#Milo {
   object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
#Stanley { 
object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
#services{
  background-color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  border-radius: 10%;
}
#services th {
  font-family: "Sofia", sans-serif;
  font-size: 50px;
  font-style: bold;
  font-weight: bold;
  color: YellowGreen;
  text-shadow: 3px 3px 3px Black;
}
#profile tr:hover {background-color: YellowGreen;}

footer
{
  Background-color: white;
  font-size: 30px;
}
